body {
    font-family: Arial;
    color: #000000;
    background-color: #000000;
    background-color: black;
    font-family: 'Space Grotesk', sans-serif;
}

ul {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    -webkit-box-shadow: 0 0 20px red;
    -moz-box-shadow: 0 0 20px red;
    box-shadow: 0 0 20px red;
}
li {
    margin: 0;
    float: left;
}

    li a {
        top: 0;
        display: block;
        color: red;
        text-align: center;
        padding: 14px 52.4px;
        text-decoration: none;
        align-items: center;
    }

#logo {
    display: block;
}


.hover:hover {
    background-color: red;
    color: black;
}
.active {
    color: black;
    background-color: red;
    box-shadow: 0 0 10px red;
}



body,
.darkend-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(
    'https://freerangestock.com/sample/132368/abstract-background--black-halftone--with-copyspace.jpg');

    background-size: 1540px 800px;
}


.centered img {
    width: 150px;
    border-radius: 50%;
}

.Right-Border{
    border: #ff0000 solid 5px;
    height: 500px;
    width: 600px;
    display: inline-block;
    margin-right: 20px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 40px red;
    border: solid;
}


#right-mid{
    display: flex;
    justify-content: center;
}

#Home{
    display: flex;
    justify-content: center;
    color: #ff0000;
    text-shadow: 0 0 15px white;
}

#Red{
    color: #ff0000;
    display: flex;
    justify-content: center;
}

#Center{
    display: flex;
    justify-content: center;
}